.project-info-container {
    background-color: #F9F9F9;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
}
.project-title {
    display: flex;
    align-items: center;
}

.project-title-label {
    margin-left: 10px;
    color: #F5C657;
}

.project-info-value {
    text-align: center;
    margin-top: 10px;
    font-size: 1.8rem;
}